body{
    background: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

a{
    font-size: 20px !important;
    width: 400px;
    border-radius: 30px !important;
    color: white !important;
}